

/* ===================================== 
    Card
======================================== */
.avatar{
    border-radius: 50%; 
    width: 120px; 
    height: 120px;  
}
.text-container{

    h2, 
    p {
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    h2{
        font-size: .9em;
        font-weight: 900; 
        color: #687076; 
    }

    p{
        font-size: .8em;
        color: #D0D2D4; 
        font-weight: 500;
    }
}
.card{
    display: flex; 
    border: 2px solid #bbb6b6; 
    border-radius: 8px; 
    background-color: #fff; 
    padding: 28px 5px;   
    align-items: center;
    justify-content: space-around; 
    margin-left: auto; 
    margin-right: auto; 
    width: 375px;  
}

/* ===================================== 
    Overlay elements
======================================== */

.overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(100, 100, 100, 0.4); 
    height: 100vh; 
    
}

.modal{
    width: 300px; 
    margin: 15% auto auto; 
    position: relative; 
    text-align: center;
    background: #fff; 
    border: none;  
    border-radius: 5px; 
    padding: 30px 20px; 
    
    img{
        width: 150px; 
        height: 150px; 
    }
    hr{
        margin-top: 30px; 
        margin-bottom: 30px;
    }
}

.modal-close{
    position: absolute; 
    right: 15px; 
    top: 5px; 
    cursor: pointer;
    border: none; 
    background-color: #fff;
}

.hidden{
    display: none; 
}