
/* ===================================== 
    Card
======================================== */
.avatar{
    border-radius: 50%; 
    width: 120px; 
    height: 120px;  
}
.text-container{

    h2, 
    p {
        margin-top: 10px; 
        margin-bottom: 10px; 
    }

    h2{
        font-size: .9em;
        font-weight: 900; 
        color: #687076; 
    }

    p{
        font-size: .8em;
        color: #D0D2D4; 
        font-weight: 500;
    }
}
.card{
    display: flex; 
    border: 2px solid #bbb6b6; 
    border-radius: 8px; 
    // background-color: #878683;
    padding: 28px 5px;   
    align-items: center;
    justify-content: space-around; 
    width: 375px;  
}

.backgroundWhite{
    background-color: #fff;
}

/* ===================================== 
    Overlay elements
======================================== */

.overlay{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(100, 100, 100, 0.4); 
    height: 100vh; 
    
}

.modal{
    width: 375px; 
    margin: 15% auto auto; 
    position: relative; 
    text-align: center;
    background: #fff; 
    border: none;  
    border-radius: 5px; 
    padding: 30px 20px; 
    img{
        width: 150px; 
        height: 150px; 
    }
    hr{
        margin-top: 30px; 
        margin-bottom: 30px;
    }
}

.modal-close{
    position: absolute; 
    right: 15px; 
    top: 5px; 
    cursor: pointer;
    border: none; 
    background-color: #fff;
}

.hidden{
    display: none; 
}

/* ===================================== 
    Header +  search box
======================================== */

header{ 
    padding: 30px 0;
    width: 1200px;  
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    
}

.search-box{
    display: flex; 
    border: 1px solid grey;
    align-items: center;
    border-radius: 3px;
    padding: 0 5px;
    input{
        height: 30px;
        width: 250px; 
        border: none; 
        background: #F4F4F4;
        // background: #444; 
        outline: none;
        // &::placeholder{
        //     // color: #fff; 
        // }
    }
    svg{
        width: 25px; 
        fill:#2d3e50;
        cursor: pointer; 
    }

}
// #glass{
//     fill: #fff;
// }

/* ===================================== 
    Dark mode button
======================================== */
/* =======Base style===== */
.toggle-wrapper { 
    
    & >*{
        display: inline-block;
        vertical-align: middle;   
    } 
}

/* =======Toggle switch===== */
.onoffswitch {
    position: relative; width: 73px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: black; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 17px; margin: 4px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

