/* ===================================== 
    Base 
======================================== */
*{
    box-sizing: border-box;
}

body {
    position: relative; 
    font-family: 'Quicksand', sans-serif;
    background-color: #F4F4F4;    
}

h1{
    padding-top: 10px;
    margin-top: 0; 
    color: #4C4C4C;
    font-size: 1.1em;  
    font-weight: 600; 
    text-transform: uppercase;
   
}

header{ 
    padding: 30px 0;
    width: 1200px;  
    margin: 0 auto;
}

/* ===================================== 
    Grid layout
======================================== */
    .grid-container{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto; 
        width: 1200px; 
        margin: 0 auto;  
        gap: 30px;
    }


